		@font-face{
			font-family: Anson;
			src: url("Anson-Regular.otf");
		}
		
		body{
			font-family: Verdana;
		}
		*{
			margin: 0;
			padding: 0;
			transition-duration: 1s;
		}
	
		#wrap{
			background: url("Background.jpg") center top no-repeat;
			background-size: 100% 100%;
			background-color: white;
			height: 100%;
		}
		
		#container{
			width: 100%;
		}
		
		#header{
			background: url("header.jpg") 0 0 no-repeat;
			background-size: 100%;
			background-color: black;
			height: 120px;
			padding-top:20px;
		}
		
		.contactChip {
			display: block;
			padding: 0;
			height: 25px;
		}

		.contactChip img {
			float: left;
			margin: 0 10px 0 0;
			height: 25px;
			width: 25px;
			border-radius: 50%;
		}
		
		#ChipsSection{
			float:right;
			padding-left:10px;
			margin-right:3%;
			width:17%;
		}
		
		.chipName{
			position:absolute;
			cursor:pointer;
			text-decoration:none;
			color:black;
			width:16%;
			height:25px;
			border-radius: 25px;
			background-color: #ffe6ee;
			border:none;
			margin-left:-8px;
			transition-duration: 1s;
			max-width:150px;
			min-width:65px;
		}
		
		.chipName:hover{
			background-color: #ff3374;
			transition-duration: 0.7s;
		}
		
		.chipName2{
			margin-right:48%;
			font-size:13px;
			text-align:left;
		}
		
		.sign-up{
			float: right;
			padding: 23px 0 0 0;
			margin-right:2%;
			color: #999;
			height: 80px;
		}
		
		.sign-upContatiner{
			background-color: #ffe6ee;
			color: black;
			height: 42px;
			width: 100%;
			padding: 10px 20px 0 20px;
			transition-duration: 1s;
		}
		
		.sign-upContatiner:hover{
			background-color: #ffb3cb;
			transition-duration: 0.5s;
		}
		
		.username{
			font-size:18px;
			text-align:center;
		}
		
		#caption{
			padding: 15px 30px 0;
			height: 100px;
			width: 265px;
			margin-left: 7%;
		}
		
		h1{
			font-size: 200%;
		}
		
		h1, h2, h3, h4, h5, h6{
			font-weight: bold;
			letter-spacing: -0.05em;
			font-family: Arial;
		}
		
		.logo{
			height: 50px;
			width: 50px;
			margin-bottom: -15px;
		}
		
		#title a{
			text-decoration: none;
			color: #ffe0ea;
			height: 30px;
			display: block;
			font-family: "Anson";
			letter-spacing: 0;
			font-size: 30px;
			display: inline;
		}
		
		#tagline{
			margin-top: 8px;
			color: #ffe0ea;
			border-top: 1px solid #ffe0ea;
			text-decoration: none;
			font-size: 13px;
			float: left;
			padding: 0 3px;
		}
	
		#navigation{
			background: #FDFDFD;
			border-bottom: 1px solid #A6A6A6;
			float: left;
			width: 100%;	
		}
		
		.boxFiller{
			position:absolute;
			background-color: white;
			width:5%;
			height:31px;
		}
	
		ul{
			display: block;
			list-style-type: disc;
		}
	
		#menus li{
			display: inline;
			list-style: none;
		}
		
		#menus li a{
			background: transparent url("menu.gif") no-repeat;
			display:block;
			color: #382E1F;
			height: 31px;
			line-height: 31px;
			padding: 0 20px;
			margin-left: -10px;
			text-decoration: none;
			font-size: 11px;
			float: left;
			z-index: 1;
			transition-duration:0.25s;
			width:8%;
			min-width:66.5px;
		}
		
		#menus li a.home{
			background-position: 0 -93px;
			width: 40px;
			padding: 0;
			margin-left: 5%;
			text-indent: -999em;
		}
		
		#menus li a.onlineDoctor{
			min-width:116px;
		}
		#menus li a.contact{
			min-width:100px;
		}
		
		#menus li a.item:hover{
			background-position: 0 -31px;
			transition-duration:0.25s;
		}
		
		#menus li a.currentPage{
			background-position: 0 -62px;
		}
		
		#clock{
			cursor:pointer;
			width:80px;
			max-width:150px;
			margin-top:5px;
		}
		
		#clockSection{
			float:right;
			margin-right:6%;
			width:12%;
		}
		
		#content{
			clear: both;
			background-size: 3px;
			padding: 5px 15px 0 15px;
			height:770px;
		}
		
		.scroll{
			background-color: transparent;
			height:760px;
			width: 100%;
			overflow: hidden;
			border:1px green solid;
		}

		.scrollContainer{
			width: 101.7%;
			height: 100%;
			overflow-y: scroll;
			padding-right: 18px; /*Increase/decrease value to hide scroll bar for other browsers too. */
			margin-left:14px;
		}
		
		.footer{
			height:60px;
			width:100%;
		}
		