<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-button expand="block" color="tertiary" (click)="scan()">
    Scan Order
  </ion-button>

  <ion-list>
    <ion-item  *ngIf="orderId.length > 0" >
      <ion-label>
        <h2>Order ID: {{orderId}}</h2>
      </ion-label>
    </ion-item>
 
      <ion-item  *ngFor="let item of orderItems" >
        <ion-label>
          <h2>{{item.product.name}} x {{item.quantity}}</h2>
          <p>{{item.product.price | currency}}</p>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>