<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.DBConnStr" connectionString="Data Source=(LocalDB)\MSSQLLOCALDB;AttachDbFilename=|DataDirectory|\IT2506_DemoDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>