<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addProductForm" (ngSubmit)="add()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input formControlName="name"></ion-input>
      <ion-label *ngIf='addProductForm.controls.name.errors && submitted' color="danger">
        Name is required
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Price</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="addProductForm.controls.price.errors && submitted">
      <ion-label color="danger">
        Price must be positive
      </ion-label>
    </ion-item>

    <ion-item>
        <ion-label>Category</ion-label>
        <ion-select formControlName="category">
          <ion-select-option *ngFor="let option of categories" [value]="option">
            {{option}}
          </ion-select-option>
        </ion-select>
      </ion-item>

    <ion-item>
      <ion-label>Vegetarian</ion-label>
      <ion-toggle formControlName="vegeterian"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Image</ion-label>
      <ion-input type="file" accept="image/*" formControlName="image" (change)=changeFile($event)></ion-input>
    </ion-item>
 
    <ion-item *ngIf="image != null">
      <img [src]="image" class="image-card">
    </ion-item>

    <ion-button expand="block" color="tertiary" type="submit">Add</ion-button>
  </form>
  {{addProductForm.value.name}}
  {{addProductForm.value.price}}
  {{addProductForm.value.vegeterian}}
</ion-content>
