<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>


   <!-- connectionString use the database connection string at properties -->
    <connectionStrings>
      <add name="HealthDBContext"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Users\172737L\Desktop\Practical6\ShoppingCartApp\App_Data\HealthDB.mdf;Integrated Security=True"
     providerName="System.Data.SqlClient"
   />
    </connectionStrings>
  
  
</configuration>
